body {
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    background: black;
}
h1, h2, h3 {
    color: white;
}
h1 {
    font-size: 50px;
    font-weight: normal;
}
h2 {
    font-size: 42px;
    font-weight: 300;
}

h3, p {
    color: gray;
}

h3 {
    font-size: 21px;
}

p {
    font-size: 16px;    
}

footer p {
    text-align: right;
}

a {
    color: aquamarine;
    text-decoration: none;
}

@media (max-width : 57em) {
    #camp{
        width: 100%;
        height: auto;
    }
}

@media (max-width : 27em) {
    video {
        width: 100%;
        height: auto;
    }
}